In [2]:
from selenium import webdriver
import pandas as pd

In [3]:
chrome_driver_loc = 'C:/Users/nikhi/Downloads/chromedriver'
driver = webdriver.Chrome(chrome_driver_loc)
url = 'https://portal.jharkhandminerals.gov.in/portal/misreports/misLesseeReport.aspx'
driver.get(url)

In [5]:
df = pd.read_html(driver.find_element_by_xpath('//*[@id="grdLesse"]').get_attribute('outerHTML'))

In [9]:
f = open('C:/Users/nikhi/Downloads/Lease_List.xls','r',encoding='utf-8')
txt = f.read()

In [13]:
df = pd.read_html(txt)[0]

In [14]:
df

,Sl#,Dmo Name,Lessee Name,Mines Name,ML/RML,Lessee Code,Mineral,Details
0,1,CHAIBASA,A.H.N. MINERAL,A.H.N. MINERAL,ML,101335801,STONE,View
1,2,DEOGARH,A.I.E PVT LTD,MOUZA PAHRIDIH STONE MINES,ML,622525102,STONE,View
2,3,PAKUR,ABDUL BASIR,ABDUL BASIR,ML,623228501,STONE,View
3,4,SAHEBGANJ,ABDUL FATTAH AND SUNITA MURMU,CHOTA PANCHRUKHI,ML,620940701,STONE,View
4,5,BOKARO,ABDUL HALIM ANSAARI,MS AMANAT KHANAN UDHYOG SUPPLAIERS,ML,205240301,STONE,View
...,...,...,...,...,...,...,...,...
3839,3840,RAMGARH,WEST BOKAARO D GHATOTAND,WEST BOKARO COALIYARI,ML,309055401,COAL,View
3840,3841,PAKUR,WEST WELL IRON STEEL PVT.LTD.,SRI RAJESH KUMAR,ML,623222801,STONE,View
3841,3842,DEOGARH,YASSAR NAWAZ,YASSAR NAWAZ,ML,622538701,SAND,View
3842,3843,JAMSHEDPUR,YOUNG INDIA CONSTRUCTION PVT.LTD,KERKETA STONE MINES,ML,102892901,STONE,View
3843,3844,DUMKA,ZUBAIR AHMAD,ZUBAIR AHMAD,ML,619325754,STONE,View

In [16]:
from bs4 import BeautifulSoup

In [17]:
s = BeautifulSoup(txt)

In [20]:
a = s.find_all('a')

In [25]:
a = a[6:]

In [34]:
df['detail_link'] = [i['href'] for i in a]

In [37]:
df['detail_link'] = ['https://portal.jharkhandminerals.gov.in/portal/misreports/' + i for i in list(df['detail_link'])]

In [42]:
df = df.drop(columns=['Sl#','Details'])

In [46]:
f = open('C:/Users/nikhi/Downloads/Lease_List (1).xls','r',encoding='utf-8')
txt = f.read()
working_df = pd.read_html(txt)[0]

In [47]:
len(set())

,Sl#,Dmo Name,Lessee Name,Mines Name,ML/RML,Lessee Code,Mineral,Details
0,1,DEOGARH,A.I.E PVT LTD,MOUZA PAHRIDIH STONE MINES,ML,622525102,STONE,View
1,2,SAHEBGANJ,ABDUL KADIR,ABDUL KADIR,RML,620877401,STONE,View
2,3,PALAMU,ABDULLAH NASIR MOHAMMAD SANAULLAH FAJAYAL AHMAD,MS CHAUPARIA STONE MINE,ML,411179001,STONE,View
3,4,GIRIDIH,AJAY KUMAR SAW,CHENGARBAD STONE MINES,ML,206196001,STONE,View
4,5,SAHEBGANJ,AKASH ALI,AKASH ALI,RML,620379601,STONE,View
...,...,...,...,...,...,...,...,...
822,823,SAHEBGANJ,USMAN SEKH,USMAN SEKH,ML,620877301,STONE,View
823,824,DUMKA,VENKATESHA CRUSHING AND MINING CO. PVT. LTD.,VENKATESHA CRUSHING AND MINING CO. PVT. LTD.,ML,619104701,STONE,View
824,825,JAMSHEDPUR,VIDHYADHAR SAHU,KOWALI,ML,102411301,STONE,View
825,826,RANCHI,VINOD MAHTO,VINOD MAHTO,ML,514130201,STONE,View
826,827,RAMGARH,WEST BOKAARO D GHATOTAND,WEST BOKARO COALIYARI,ML,309055401,COAL,View

In [48]:
f = open('C:/Users/nikhi/Downloads/Lease_List (2).xls','r',encoding='utf-8')
txt = f.read()
non_working_df = pd.read_html(txt)[0]

In [49]:
len(set(non_working_df['Lessee Code']))

3016

In [53]:
ndf = non_working_df[['Lessee Code']]
ndf['status'] = 'Non-Working'

C:\Users\nikhi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
ndf = pd.merge(df,ndf,on=['Lessee Code'])

In [57]:
wdf = working_df[['Lessee Code']]
wdf['status'] = 'Working'

C:\Users\nikhi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
wdf = pd.merge(df,wdf,on=['Lessee Code'])

In [61]:
df2 = wdf.append(ndf,ignore_index=True)

In [66]:
temp = df[df['Lessee Code']== 101075001]
temp['status'] = 'Temp. Working for Despatch'

C:\Users\nikhi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
df2 = df2.append(temp,ignore_index=True)

In [68]:
df2.to_csv('C:/Users/nikhi/Dropbox/Jharkhand Minerals/Lessee Profile Links.csv',index=False)